body {
  margin: 0px; }

body {
  font-family: Arial, Helvetica, sans-serif; }

nav {
  display: flex;
  align-content: center;
  justify-content: center; }
  nav li {
    display: inline;
    align-self: flex-end;
    font-size: 50px;
    padding: 1rem; }
    nav li:hover {
      color: aliceblue;
      background-color: gray;
      border-radius: 10px; }

.Tarjeta__imagenrubia {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  width: 250px;
  height: 600px; }

.Tarjeta__imagenroja {
  border: 3px solid black;
  border-radius: 100px;
  width: 250px;
  height: 600px; }

.Tarjeta__imagenipa {
  border: 3px solid black;
  border-radius: 100px;
  width: 250px;
  height: 600px; }

.Nuestros__productos {
  display: flex;
  font-size: 100px;
  align-content: center;
  justify-content: center; }

p {
  font-size: 35px; }

.Imagen__footer {
  width: 50px;
  height: 50px;
  display: absolute; }

.grid__container {
  display: grid;
  grid-template-areas: "header"    
 "main"
 "footer"; }

header {
  grid-area: header;
  background-color: aqua;
  animation-name: header__color;
  animation-duration: 4s; }

main {
  grid-area: main;
  background-color: blue; }

footer {
  grid-area: footer;
  background-color: blueviolet; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .grid__container {
    grid-template-areas: "header"
 "main"
 "footer"; }
  li {
    font-size: 20px; }
  p {
    font-size: 20px; }
  .Nuestros__productos {
    font-size: 50px; } }

@media screen and (min-width: 768px) {
  .grid__container {
    grid-template-areas: "header"
 "main"
 "footer"; }
  li {
    font-size: 30px; }
  p {
    font-size: 25px; }
  .Nuestros__productos {
    font-size: 60px; } }

@media screen and (min-width: 1024px) {
  .grid__container {
    grid-template-areas: "header"
 "main"
 "footer"; }
  li {
    font-size: 40px; }
  p {
    font-size: 30px; }
  .Nuestros__productos {
    font-size: 70px; } }

@media screen and (min-width: 1200px) {
  .grid__container {
    grid-template-areas: 
    "header"
    "main"
    "footer"; }
  li {
    font-size: 50px; }
  .Nuestros__productos {
    font-size: 100px; } }

@keyframes header__color {
  from {
    background-color: aqua; }
  to {
    background-color: red; } }
